{{ define "main" }}
<div class="large-padding center-align">
  <i class="extra primary-text">android</i>
  <h3>{{ i18n "site_title" }}</h3>
  <p class="muted">{{ i18n "tagline" }}</p>
  <nav class="center-align wrap">
    <a class="button" href="{{ "search/" | relLangURL }}"><i>search</i><span>{{ i18n "nav_search" }}</span></a>
    <a class="button border" href="{{ "devices/" | relLangURL }}"><i>devices</i><span>{{ i18n "nav_devices" }}</span></a>
  </nav>
</div>
{{ with .Site.GetPage "devices" }}
<h5 class="small">{{ i18n "all_devices" }}</h5>
<ul class="list border large-space">
  {{ range .Sections }}
  <li>
    <a href="{{ .Permalink }}" class="max row wave">
      <i>folder</i>
      <div class="max">
        <h6 class="small">{{ .Title }}</h6>
        <div class="small-text muted">{{ i18n "model_count" (dict "count" (len .Sections)) }}</div>
      </div>
      <i>arrow_forward</i>
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
{{ end }}
